﻿@model IEnumerable<FactoryWeb.Funcionalidades.ListarEmpresa.ListarEmpresaViewModel>

@{
    ViewBag.Title = "Lista de Empresas";
}

<h2>Lista de Empresas</h2>

<p>
   @* @Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Create New", "Registrar", "Empresa"
                   //, new { rol = @Model.us }
                   //, new AjaxOptions
                   //{
                   //    HttpMethod = "Get",
                   //    InsertionMode = InsertionMode.Replace,
                   //    UpdateTargetId = "RegistrarRolControlAccion"
                   //}
                   //,
                   //new
                   //{
                   //    data_toggle = "modal",
                   //    data_target = "#RegistrarRolControlAccion"
                   //}
                   )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rubro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rubro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
            @Html.ActionLink("Registrar Factura", "Registrar", "Factura")|
            @Html.ActionLink("Ver Facturas","Lista","Factura")|
        </td>
    </tr>
}

</table>
