﻿@model IEnumerable<FactoryWeb.Funcionalidades.ListarFactura.ListarFacturaViewModel>

@{
    ViewBag.Title = "Lista de Facturas";
}

<h2>Lista de Facturas</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Create New", "Registrar", "Factura"
                   //, new { rol = @Model.us }
                   //, new AjaxOptions
                   //{
                   //    HttpMethod = "Get",
                   //    InsertionMode = InsertionMode.Replace,
                   //    UpdateTargetId = "RegistrarRolControlAccion"
                   //}
                   //,
                   //new
                   //{
                   //    data_toggle = "modal",
                   //    data_target = "#RegistrarRolControlAccion"
                   //}
                   )


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCobro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RucCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocialCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalImpuestosLey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacturaEscaneada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCobro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RucCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocialCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalImpuestosLey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacturaEscaneada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
